@import '../variables';

.fullScreenWr {
  width: 100%;
  border-bottom: 1px solid $greyBG;
}

.wrapper {
  max-width: 1465px;
  margin: 0 auto;
}

.container {
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media (max-width: 900px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  margin: auto 0;
  margin-right: 10px;

  @media (max-width: 900px) {
    width: 60px;
    height: 61px;
    margin-right: 0;
  }
}

.logoText {
  font-size: clamp(1.61rem, calc(1.15rem + 1.25vw), 2.36rem);
  margin: auto 0;
}

.header1 {
  margin: auto 0;
  font-size: clamp(1.205rem, calc(0.5rem + 1.25vw), 1.415rem);

  @media (max-width: 500px) {
    display: none;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto 0;
}

.tel,
.mail {
  font-family: Cambria, 'Playfair Display', serif;
  color: inherit;
  text-decoration: inherit;
  padding: 5px;
  -webkit-transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 210px 0 0 0 $greyLine;
    box-shadow: inset 210px 0 0 0 $greyLine;
  }
}

.tel {
  font-size: clamp(1.205rem, calc(0.5rem + 1.25vw), 1.415rem);
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  @media (max-width: 900px) {
    font-size: clamp(0.935rem, calc(0.15rem + 1.25vw), 1.06rem);
  }

}

.mail {
  font-size: clamp(0.935rem, calc(0.15rem + 1.25vw), 1.06rem);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;

  @media (max-width: 900px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

//TODO добавить анимацию-цветом при наведении на соц сети
.viber,
.whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-text-decoration: indianred;
  text-decoration: indianred;
  color: inherit;

  -webkit-box-shadow: inset 0 0 0 0 $greyLine;
  box-shadow: inset 0 0 0 0 $greyLine;
  padding: 5px;
  -webkit-transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 125px 0 0 0 $greyLine;
    box-shadow: inset 125px 0 0 0 $greyLine;
  }
}

.viber {
  margin-right: 11px;

  @media (max-width: 900px) {
    margin-right: 0;
  }
}

.viberLogo,
.whatsappLogo {
  width: 28px;
  height: 28px;
  margin: auto 0;
}

.viberLogo,
.whatsappLogo {
  margin-right: 7px;

  @media (max-width: 900px) {
    margin-right: 0;
  }
}

.viberLogoText,
.whatsappLogoText {
  font-size: clamp(0.935rem, calc(0.15rem + 1.25vw), 1.06rem);
  margin: auto 0;
  font-family: Cambria, 'Playfair Display', serif;

  @media (max-width: 900px) {
    display: none;
  }
}