@import '../variables';

.nav {
  position: absolute;
  top: 15px;
  left: 149px;
}

.navUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  li {
    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }
}

.link {
  font-family: Cambria, 'Playfair Display', serif;
  font-size: 20px;
  color: inherit;
  text-decoration: inherit;
  margin-right: 75px;

  -webkit-box-shadow: inset 0 0 0 0 $greyLine;

  box-shadow: inset 0 0 0 0 $greyLine;
  // margin: 0 -0.25rem;
  padding: 5px;
  -webkit-transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    -webkit-box-shadow 0.3s ease-in-out;

  //TODO добавить анимацию подчеркивания и отступ вниз
  &:hover {
    -webkit-box-shadow: inset 200px 0 0 0 $greyLine;
    box-shadow: inset 200px 0 0 0 $greyLine;
  }
}
